body {
  position: relative;
  container-type: inline-size;
}

.container {
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
}

p {
  font-size: 0.9rem;
  line-height: 1.1rem;
  max-width: 80ch;
  word-spacing: 2px;
}

/* Hero Section */
.hero__section {
  display: grid;
  position: relative;
  grid-template-areas: "hero";
  grid-gap: 20px;
  overflow: hidden;
  height: calc(150px + 15vw);
  border-bottom: 5px solid var(--green);
}

/* .hero__section img {
  position: absolute;
  grid-area: hero;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
} */

.hero__section video {
  position: absolute;
  grid-area: hero;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  filter: brightness(50%);
}

.hero__section h1 {
  grid-area: hero;
  z-index: 1;
  color: white;
  font-size: calc(2rem + 2vw);
  justify-self: center;
  align-self: center;
}

/* Whats New Section */
.whatsNew__section {
  position: relative;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: minmax(0, 1fr);
  background-color: var(--grey);
  z-index: 1;
}

.whatsNew__section video {
  justify-self: center;
  align-self: center;
  width: 90%;
  border-radius: 5px;
  padding: 5% 0;
}

.whatsNew__content {
  justify-self: center;
  align-self: center;
  padding: 5% 5% 10% 5%;
}

.whatsNew__section h5 {
  color: var(--orange);
  font-weight: 600;
  margin: 0;
}

.whatsNew__section h1 {
  width: 100%;
  font-size: calc(0.7rem + 2vw);
  white-space: nowrap;
  margin: 15px 0 0 0;
}

.whatsNew__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(60px, 1fr);
  justify-content: space-between;
}

.whatsNew__buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  letter-spacing: 0.8px;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  font-size: calc(0.5rem + 0.7vw);
  font-weight: 550;
  padding: 5%;
}

.whatsNew__buttons i {
  position: relative;
  margin: 10px;
}

@media (max-width: 800px) {
  .whatsNew__section {
    grid-template-columns: 1fr;
  }
}

/* Quick Circle Section */

.quickCircle__section {
  height: 0;
}

.quickSkills__circle {
  display: flex;
  width: calc(5rem + 8vw);
  height: calc(5rem + 8vw);
  background-color: var(--green);
  border-radius: 50%;
  position: relative;
  top: -20px;
  left: 10%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: calc(1rem + 2vw);
  z-index: 2;
  line-height: 1;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

/* Quick Skills Section */
.quickSkills__section {
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  grid-template-areas:
    "picture text"
    "picture carousel"
    "picture button";
  grid-template-columns: 0.5fr 1fr;
}

.quickSkills__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0 5% 5%;
  grid-area: picture;
  overflow: hidden;
}

.img_container {
  height: calc(15rem + 10vw);
  width: calc(12rem + 10vw);
}

.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.quickSkills__text {
  grid-area: text;
  padding: 5% 5% 0 5%;
}

.quickSkills__text h2 {
  color: var(--blue);
  font-size: calc(0.7rem + 1.3vw);
}

.quickSkills__text p {
  line-height: 1.4rem;
}

.quickSkills__carousel {
  grid-area: carousel;
  padding: 2% 0 0 0;
}

.carousel__container {
  display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
}

.carousel-item {
  width: 30%;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  border: 0.1rem solid rgb(201, 201, 201);
  border-radius: 7px;
  box-shadow: 0 0 0.5rem 0 rgba(56, 56, 56, 0.1);
  transition: transform 0.5s ease-in-out;
}

.carousel-item h4 {
  margin: 0;
  border-radius: 7px 7px 0 0;
  font-weight: 500;
  padding: 3px;
}

.carousel-button {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.left-button {
  left: 0;
}

.right-button {
  right: 0;
}

.quickSkills__button {
  grid-area: button;
  padding: 5% 5% 5% 5%;
}

.quickSkills__button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: 0.8px;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  font-size: calc(1rem + 0.7vw);
  font-weight: 550;
  margin-inline: auto;
}

.quickSkills__button p {
  margin-inline: auto;
  text-align: center;
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  .quickSkills__section {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "picture text"
      "carousel carousel"
      "button button";
  }

  .quickSkills__img .img_container .quickSkills__circle {
    top: clamp(46%, 150vw, 47%);
    left: 10%;
  }
}

@media (max-width: 545px) {
  .quickSkills__section {
    grid-template-columns: 1fr;
    grid-template-areas:
      "picture"
      "text"
      "carousel"
      "button";
  }

  .quickSkills__img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: picture;
    overflow: hidden;
    padding: 10% 0 0 0;
  }

  .img_container {
    height: calc(10rem + 15vw);
    width: calc(10rem + 15vw);
  }

  .quickSkills__img .img_container .quickSkills__circle {
    top: clamp(40%, 160vw, 40%);
    left: 15%;
  }
}

@media (max-width: 500px) {
  .carousel-item {
    min-width: 40%;
  }
}

/* Course Tips Section */

.courseTips__section {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: minmax(0, 1fr);
  background-color: var(--bg-lighter-blue);

}

.course__tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.course__tips h1 {
  width: 90%;
  font-size: calc(0.7rem + 2vw);
  white-space: nowrap;
  margin: 0 0 15px 0;
}

.quickTips__grid {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(0, 1fr);
  grid-gap: 20px;

}

.quickTips__subGrid {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 1px solid var(--blue);
  box-sizing: border-box;
  border: 0.1rem solid rgb(201, 201, 201);
  border-radius: 7px;
  box-shadow: 0 0 0.5rem 0 rgba(56, 56, 56, 0.1);
  padding: 3%;
  font-size: calc(0.5rem + 0.4vw);

  & a {
    margin-left: auto;
  }
}

.subGrid__left {
  border-left: 10px solid var(--green);
}

.subGrid__right {
  border-left: 10px solid var(--orange);
}

.view__all {
  margin-top: 20px;
}

.tips__img {
  display: grid;
  position: relative;
  grid-template-areas: "image";
  justify-items: center;
  align-items: center;
  padding: 100px;
}

.img_1 {
  position: relative;
  grid-area: image;
  width: calc(15rem + 15vw);
  height: calc(7rem + 11vw);
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  top: -20%;
  left: -13%;
}


.img_2 {
  position: relative;
  grid-area: image;
  width: calc(13rem + 15vw);
  height: calc(13rem + 15vw);
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
  top: 10%;
  right: -15%;
  transform: scaleX(-1);
}

@media (max-width: 1070px) {
  .courseTips__section {
    grid-template-columns: 1fr;
  }

  .tips__img {
    margin-top: 20px;
    padding: 0 0 100px 0;
  }
}

@media (max-width: 499px) {
  .tips__img {
    width: 90%;
    padding: 0 10px 70px 10px;
  }

  .img_1 {
    width: calc(13rem + 10vw);
    height: calc(7rem + 10vw);
    top: -15%;
    left: -7%;
  }

  .img_2 {
    width: calc(13rem + 10vw);
    height: calc(13rem + 10vw);
    top: 10%;
    right: -10%;
  }
}



/* What Learners Think Section */

.learnersThink_section {
  display: grid;
  background-color: var(--blue);
  grid-template-columns: 0.6fr 1fr;
  justify-items: center;
  align-items: center;
}

.learnersThink_section h1 {
  width: 90%;
  font-size: calc(0.7rem + 2vw);
  color: white;
  padding-left: 20%;
  padding-right: 20%;
}

.testemonial__container {
  display: flex;
  height: 80%;
  width: 90%;
  justify-content: center;
  align-items: center;

  & p {
    text-align: center;
    color: white;
    font-size: calc(0.7rem + 0.3vw);
    line-height: 1.6rem;
  }
}

.fa-quote-left {
  font-size: calc(1rem + 1vw);
  color: white;
  margin-bottom: auto;
  margin-right: 10px;
}

.fa-quote-right {
  font-size: calc(1rem + 1vw);
  color: white;
  margin-top: auto;
  margin-left: 10px;
}

@media (max-width: 650px) {
  .learnersThink_section {
    grid-template-columns: 1fr;
  }
}